<!DOCTYPE html>
<html lang="en">
  <head>
   {{>head}}
    <title>about</title>
  </head>
  <body>
    <!-- navbar -->
  {{>navbar}}
    <!-- main -->
    <div class="main_content">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <div class="col-md-6 col-12 main_right align-items-center">
                 <div class="error">
                4<span class="zero">0</span>4
               </div>
               </div>
            <div class="col-md-6 col-12 main_left">
             <p>{{errMessage}}</p>
              <h1>Sorry,the page you're looking for  <span class="middleText">doesn't exist </span>. Go back and try again</h1>
              <a href="./#" target=""><button>GO BACK</button></a>
            </div>
           
          </div>
        </div>
      </div>
    </div>

    <!-- footer -->
   {{>footer}}
  </body>
</html>
