<!DOCTYPE html>
<html lang="en">
  <head>
   {{>head}}
    <title>about</title>
  </head>
  <body>
    <!-- navbar -->
  {{>navbar}}
    <!-- main -->
    <div class="main_content">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <div class="col-md-6 col-12 main_right align-items-center">
                <figure>
                   <img src="images/aboutImage.jpg" alt="this is about picture" srcset="" class="img-fluid">
                </figure>
               </div>
            <div class="col-md-6 col-12 main_left">
              <p>Welcome to My World</p>
              <h1>i am A  <span class="middleText">Mern Stack Developer</span> and BCA graduate</h1>
              <a href="https://github.com/komalgautam12" target="_blank"><button>About Me</button></a>
            </div>
           
          </div>
        </div>
      </div>
    </div>

    <!-- footer -->
   {{>footer}}
  </body>
</html>
